body {
  overflow-y: scroll;
  position: relative;
}

/* contents */
#s-offers {
  margin: 0 auto;
  width: 1120px;
  margin-bottom: 170px;
}
.s-n {
  margin-top: 60px;
  margin-bottom: 27px;
  color: var(--brown_2);
  font-weight: 500;
  font-size: 17px;
}
.s-p {
  font-size: 27px;
  line-height: 1.5em;
  font-weight: 100;
  margin-bottom: 70px;
  color: var(--black_1);
}
.carousel {
  margin: 0 auto;
  width: 1120px;
  height: 600px;
}

/* .btns{
  display: flex;
} */
.carousel .btn {
  width: 1088px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: all 400ms ease;
  overflow: hidden;
}

/* .carousel .btn-back {
  position: absolute;
  display: flex;
  align-items: center;
} */

.carousel .btn-next {
  position: absolute;
  /* width: 1120px; */
  justify-content: space-between;
  align-items: center;
}

.carousel .viewbox {
  width: 1120px;
  height: 500px;
  position: relative;
  margin: 25px auto;
  z-index: 2;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
}
.carousel .viewbox .track {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 500ms ease;
  z-index: 2;
}
.carousel .viewbox .track .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(1.09);
}
.carousel .viewbox .track .slide .images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images:hover{
  transition: all ease-in-out 300ms;
  transform: scale(1.05);
}
.carousel .nav-indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.carousel .nav-indicator .dot {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--black_0);
  cursor: pointer;
  transition: all 300ms ease;
}
.carousel .nav-indicator .dot.active {
  background: var(--brown_2);
}
/* footer */
#bottom {
  width: 100%;
  height: 100%;
  background-color: var(--black_3);
  margin: 0 auto;
}

#under-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
#under-nav li {
  font-size: 14px;
  color: var(--white_3);
  margin-left: 10px;
  font-weight: 200;
}
#under-nav li:first-child {
  margin-left: 0;
}
#under-nav li::after {
  margin-left: 10px;
  content: "|";
  font-size: 12px;
  font-weight: 100;
}
#under-nav li:last-child:after {
  content: "";
}
address {
  width: 1120px;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  color: var(--black_1);
}
