body {
  overflow-y: scroll;
  position: relative;
}

/* contents */
#s-offers {
  margin: 0 auto;
  width: 1120px;
  margin-bottom: 170px;
}
.s-n {
  margin-top: 60px;
  margin-bottom: 27px;
  color: var(--brown_2);
  font-weight: 500;
  font-size: 17px;
}
.s-p {
  font-size: 27px;
  line-height: 1.5em;
  font-weight: 100;
  margin-bottom: 70px;
  color: var(--black_1);
}
/* offer-box */
.offer-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  padding: 20px 27px;
  margin-bottom: 45px;
  background-color: whitesmoke;
  border:1px solid rgb(233, 233, 233);
}

h1 {
  font-size: 15px;
  margin-bottom: 15px;
}
h2{
  font-size: 14px;
  color: var(--brown_2);
  font-weight: 400;
  margin-bottom: 5px;
}
/* offerbox-select */
#offerbox-select{
  width: 795px;
  display: flex;
  flex-wrap: wrap;
}
#tag{
  display: flex;
  margin-top: 15px;
  font-size: 14px;
  color: #999;
  width: 740px;
}
#tagname{
  margin-right: 30px;
}
/* checkbox styling */
.checkbox{
  display: flex;
  margin-right: 30px;
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"] + label i{
  font-size: 12px;
  padding: 4px 2px 2px 2px;
  color: rgb(233, 233, 233);
  cursor: pointer;
}
input[type="checkbox"] + label{
  margin-right: 5px;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: white;
  border:1px solid rgb(233, 233, 233);
  position: relative;
}
input[id="check1"]:checked + label::after,
input[id="check2"]:checked + label::after,
input[id="check3"]:checked + label::after,
input[id="check4"]:checked + label::after,
input[id="check5"]:checked + label::after,
input[id="check6"]:checked + label::after,
input[id="check7"]:checked + label::after
{
  content:'';
  background-image: url();
  /* font-size: 25px; */
  width: 18px;
  height: 18px;
  border:1px solid var(--brown_2);
  text-align: center;
  position: absolute;
  left: -1px;
  top:-1px;
  cursor: pointer;
}
input[id="check1"]:checked + label i,
input[id="check2"]:checked + label i,
input[id="check3"]:checked + label i,
input[id="check4"]:checked + label i,
input[id="check5"]:checked + label i,
input[id="check6"]:checked + label i,
input[id="check7"]:checked + label i{
  color: var(--brown_2);
}
/* search-btn */
.search-btn{
  display: flex;
  align-items: flex-end;
}
#search-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  color: var(--brown_2);
  border: 1px solid var(--brown_2);
  background-color: var(--white);
}
#search-btn:hover{
  background-color: var(--brown_2);
  color: var(--white);
  cursor: pointer;
}
/* datepicker */
.datepicker{
  width: 255px;
  height: 50px;
  font-size: 14px;
  margin-right: 10px;
  border: 1px solid rgb(233, 233, 233);
  padding: 15px;
}
.datepicker::placeholder{
  content: "";
  color: #999;
}
/* selection box */

.selectBox2 * { box-sizing: border-box; }
.selectBox2 {
  position: relative;
  width: 255px;
  height: 50px;
  margin-right: 10px;
  border: 1px solid rgb(233, 233, 233);
  background-color: var(--white);
  background-size: 20px;
  cursor: pointer;
}



.selectBox2 .label,
.selectBox2 .labelview {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 15px;
  background: transparent;
  cursor: pointer;
  color: #999;
  font-size: 14px;
}
.fa-chevron-down,
.labelview i{
  position: absolute;
  top: 17px;
  right: 20px;
  color: var(--brown_2);
  font-size: 14px;
}

.selectBox2 .optionList {
  position: absolute; 
  top: 50px;
  width: 100%;
  background: var(--white);
  font-weight: 300;
  color: var(--black_1);
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in;
  z-index: 1;
}

.selectBox2.active .optionList {
  max-height: 500px;   
}

.selectBox2 .optionItem {
  width: 255px;
  height: 50px;
  border-bottom: 1px solid rgb(233, 233, 233);
  background-color: none;
  padding: 15px;
  transition: .1s;
}

.selectBox2 .optionItem:hover {
  background: whitesmoke;
}

.selectBox2 .optionItem:last-child {
  border-bottom: 0 none;
}

/* // 스크롤 커스텀
.selectBox2 .optionList::-webkit-scrollbar {width: 6px;}
.selectBox2 .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox2 .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {background: #303030;} */

/* option box */
.option-box{
  width: 1120px;
  height: 231px;
  border:1px solid rgb(233, 233, 233);
  margin-bottom: 25px;
  display: flex;
}

.option-box img {
  width: 350px;
  margin-right: 35px;
  position: relative;
}
.option-a{
  position: absolute;
  width: 347px;
  height: 230px;
  background-color: var(--black_3);
  opacity: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option-a a{
  padding: 10px 25px;
  border:1px solid var(--white);
  color: var(--white);
}
.option-a:hover{
  transition: opacity ease-in-out 300ms;
  opacity: 0.7;
}
.option-box-con{
  display: flex;
  padding:  15px 20px 20px 0;
  width: 100%;
  justify-content: space-between;
}
.option-box-cont{
  height: 231px;
}
.option-box-cont h1{font-size: 24px; font-weight: 200; color: var(--black_1); margin-bottom: 15px;}
.option-box-cont h2{font-size: 14px; font-weight: 300; color: var(--brown_2); margin-bottom: 15px;}
.option-box-cont h3{font-size: 14px; font-weight: 400; color: var(--black_1);  margin-bottom: 10px;}
.option-box-cont h4{font-size: 12px; font-weight: 400; color: #999; margin-bottom: 10px;}
.option-box-cont p{font-size: 12px; color: #999;}

.option-price{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.option-price h1{
  font-size: 14px;
  font-weight: 400;
  color: var(--black_3);
}
.option-price h1 b{
  font-size: 20px;
}
.option-price h2{
  font-size: 14px;
  color: var(--brown_2);
}
/* cution */
.cution{
  margin-top: 50px;
  width: 1120px;
  height: 300px;
  border:1px solid rgb(233, 233, 233);
}
.cution-title{
  width: 100%;
  height: 60px;
  color: var(--brown_2);
  padding: 20px;
  background-color: whitesmoke;
}
.fa-exclamation-circle {margin-right: 10px;}
.cution-cont{padding: 20px;}
.cution-cont span{
  display: block;
  font-size: 14px;
  width: 1050px;
  margin-bottom: 17px;
  color: var(--black_1);
}
.cution-cont span::before{
  margin-right: 5px;
  content: "·";
}
/* footer */
#bottom {
  width: 100%;
  height: 100%;
  background-color: var(--black_3);
  margin: 0 auto;
}

#under-nav {
  display: flex;
  align-items: center;
  width: 1120px;
  margin: 0 auto;
  height: 100px;
}
#under-nav li {
  font-size: 14px;
  color: var(--white_3);
  margin-left: 10px;
  font-weight: 200;
}
#under-nav li:first-child {
  margin-left: 0;
}
#under-nav li::after {
  margin-left: 10px;
  content: "|";
  font-size: 12px;
  font-weight: 100;
}
#under-nav li:last-child:after {
  content: "";
}
address {
  width: 1120px;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  color: var(--black_1);
}

/* 셀렉트 박스 */
