body {
  overflow-y: scroll;
  position: relative;
}

/* contents */
#s-rooms {
  margin: 0 auto;
  width: 1120px;
  margin-bottom: 170px;
}
.s-n {
  margin-top: 60px;
  margin-bottom: 27px;
  color: var(--brown_2);
  font-weight: 500;
  font-size: 17px;
}
.s-p {
  font-size: 27px;
  line-height: 1.5em;
  font-weight: 100;
  margin-bottom: 70px;
  color: var(--black_1);
}

/* roombox */
.room {
  margin-top: 65px;
}
.room h1 {
  font-size: 15px;
  /* line-height: 0.2em; */
  font-weight: 900;
  color: var(--black_3);
  margin-bottom: 10px;
}
.room p {
  font-size: 13px;
  font-weight: 500;
  color: var(--black_0);
  margin-bottom: 13px;
}
.room-box {
  height: 465px;
  border: 1px solid var(--brown_0);
}
.room-img {
  display: flex;
  overflow: hidden;
}

.room-slide li {
  width: 100%;
  display: none;
  opacity: 0;
}
.room-slide li.active{
  display: block;
  opacity: 1;
  transition: all ease-in-out 500ms;

}
.room-slide {
  overflow: hidden;
  width: 767px;
  display: flex;
}

/* room info */
.room-info {
  position: relative;
}
.room-info-blink {
  opacity: 0;
  position: absolute;
  height: 463px;
  padding: 40px;
}
.room-info-blink.active {
  opacity: 1;
  transition: all ease-in-out 500ms;
  display: block;

}
.room-info-blink h1 {
  font-weight: 100;
  color: var(--brown_2);
  font-size: 27px;
}
.room-info-blink p {
  font-weight: 100;
  color: var(--brown_2);
  font-size: 13px;
  margin-bottom: 25px;
}

.room-info-blink div {
  display: flex;
  width: 275px;
  padding-top: 30px;
  border-top: 1px solid #f2f2f2;
  line-height: 1em;
  font-size: 13px;
  line-height: 2.5em;
}
.room-infona {
  color: var(--black_1);
  font-weight: 700;
  margin-right: 15px;
}
.room-infoco {
  color: var(--black_0);
}
.room-info-blink a {
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  left: 40px;
  bottom: 40px;
  color: var(--brown_2);
  width: 100px;
  height: 40px;
  padding: 10px 25px;
  border: 1px solid var(--brown_2);
}
.room-info-blink a:hover {
  color: var(--white);
  background-color: var(--brown_2);
}

/* room btns */
.banner-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 4em;
}
.banner-point {
  display: flex;
  justify-content: center;
}
.banner-point li {
  width: 8px;
  height: 8px;
  background-color: thistle;
  border-radius: 50%;
  margin: 0 4px;
}
/* footer */
#bottom {
  width: 100%;
  height: 100%;
  background-color: var(--black_3);
  margin: 0 auto;
}

#under-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
#under-nav li {
  font-size: 14px;
  color: var(--white_3);
  margin-left: 10px;
  font-weight: 200;
}
#under-nav li:first-child {
  margin-left: 0;
}
#under-nav li::after {
  margin-left: 10px;
  content: "|";
  font-size: 12px;
  font-weight: 100;
}
#under-nav li:last-child:after {
  content: "";
}
address {
  width: 1120px;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  color: var(--black_1);
}

/* 셀렉트 박스 */
